.deps
.libs
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
config.h*
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
stamp-h1
xi.pc
*.man
*.stamp
*~
*.3
*.o
*.la
*.lo
libXi-*.tar.*
ChangeLog
tags
